.general-container {
  width: 90%;
  margin: 0.5rem auto;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem 2rem;
}

.MuiTypography-h6 {
  margin: 0.5rem auto;
}

.form-controller {
  padding: 2rem;
}

#button {
  display: flex;
  justify-content: flex-end;
}

textarea {
  border: 1px solid #999999;
  width: 98%;
  margin: 5px 0;
  padding: 1%;
  border-radius: 5px;
  font-family:'Courier New', Courier, monospace;
  font-weight:500;
}

.cellHeader{
    font-size: medium;
    font-weight: bold;
}
